.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.col{
  display: flex;
  width: 100%;
}
input{
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  margin: 6px 5px 12px 10px;
  border: 2px solid #CECECE;
  color: #454040;
  font-weight: 600;
  letter-spacing: 0.01rem;

}


button{
  width: auto;
  background: #e3fdff;
  font-size: 16px;
  padding: 6px 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #FFF;
  margin: 10px;
}

button:hover{
  background: linear-gradient(90deg, #e3fdff 0%, #c6dbff 100%);
}